/* CSS Code For Legacy Page */

/* Hero Image Section */
.bg-hero-legacy{
    background-size: cover;
    background-position-x: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('../image/banner-image/hero-legacy.jpg'); 
}
/* Hero Image Section */

/* Meet Legacy Section */
.legacy{
    gap: 4rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 8rem 12rem;
}

.legacy h4{
    color: #8d4bf6;
    font-size: 2.6rem;
    font-weight: normal;
    font-family: 'Lilita One', cursive;
    letter-spacing: 0.4rem;
    text-align: center;
    text-transform: uppercase;  
}

.legacy h6{
    font-size: 2.2rem;
    font-weight: normal;
    font-family: "Work Sans", sans-serif;
    color: #323232;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase; 
}

.legacy p{ 
    font-weight: normal;
    font-size: 1.8rem;
    font-family: "Work Sans", sans-serif;
    color: #323232;
    text-align: justify;
    text-transform: none;  
    letter-spacing: 0.1rem;
}
/* Meet Legacy Section */  

/* CSS Code For Legacy Page */

/* ===== +++++ ===== */

/* When It Will Go To The Mobile Menu Option */

    @media screen and (max-device-width: 480px)  {

        /* Smartphones */ 
        /* Meet Legacy Section */
        .legacy{
            gap: 2rem;
            padding: 3rem;
        }

        .legacy h4{
            font-size: 1.8rem;
            letter-spacing: 0.1rem; 
        }

        .legacy h6{
            font-size: 1.6rem;
            letter-spacing: 0.1rem; 
        }

        .legacy p{ 
            font-size: 1.5rem;
        }
        /* Meet Legacy Section */  
    }

    @media screen and (min-device-width: 481px) and (max-device-width: 768px)  { 

        /* Tablets */  
        /* Meet Legacy Section */
        .legacy{
            gap: 2.5rem;
            padding: 4rem 3rem;
        }

        .legacy h4{
            font-size: 2rem;
            letter-spacing: 0.1rem;  
        }

        .legacy h6{
            font-size: 1.8rem;
            letter-spacing: 0.1rem; 
        }

        .legacy p{ 
            font-size: 1.6rem;
        }
        /* Meet Legacy Section */ 
    }

    @media screen and (min-device-width: 769px) and (max-device-width: 991px)  { 

        /* Small Screens Devices, Laptops */  
        /* Meet Legacy Section */
        .legacy{
            gap: 3rem;
            padding: 4rem;
        }

        .legacy h4{
            font-size: 2.2rem; 
        }

        .legacy h6{
            font-size: 2rem;
        }

        .legacy p{ 
            font-size: 1.7rem;
        }
        /* Meet Legacy Section */ 
    }

    @media screen and (min-device-width: 992px) and (max-device-width: 1024px)  { 

        /* Large Screens Devices & Desktops */
        /* Meet Legacy Section */
        .legacy{
            gap: 3.5;
            padding: 4rem 5rem;
        }

        .legacy h4{
            font-size: 2.4rem; 
        }

        .legacy h6{
            font-size: 2.2rem;
        }

        .legacy p{ 
            font-size: 1.8rem;
        }
        /* Meet Legacy Section */ 
    }

/* When It Will Go To The Mobile Menu Option */

